<div style="display: flex; justify-content: center">
  <p style="font-size: 25px">&#64;Switch</p>
</div>
<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Select Role</mat-label>
    <mat-select
      [value]="userRole()"
      (selectionChange)="userRole.set($event.value)"
    >
      <mat-option value="admin">Admin</mat-option>
      <mat-option value="user">User</mat-option>
      <mat-option value="guest">Guest</mat-option>
      <mat-option value="unknown">Unknown</mat-option>
    </mat-select>
  </mat-form-field>
  @switch (userRole()) { @case ('admin') {
  <p>Welcome Admin</p>
  } @case ('user') {
  <p>Welcome User</p>
  } @case ('guest') {
  <p>Welcome Guest</p>
  } @default {
  <p>Unknown Role</p>
  } }
</div>
