<div style="display: flex; justify-content: center">
  <p style="font-size: 25px">Class Binding</p>
</div>
<div class="myTextColor">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate ipsum,
  tempora consequuntur perspiciatis nam quisquam tempore omnis deserunt hic
  corporis necessitatibus accusamus animi voluptate placeat, molestias et magni
  libero aperiam.
</div>

<div [class]="textColor">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate ipsum,
  tempora consequuntur perspiciatis nam quisquam tempore omnis deserunt hic
  corporis necessitatibus accusamus animi voluptate placeat, molestias et magni
  libero aperiam.
</div>

<div [class]="textSize">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate ipsum,
  tempora consequuntur perspiciatis nam quisquam tempore omnis deserunt hic
  corporis necessitatibus accusamus animi voluptate placeat, molestias et magni
  libero aperiam.
</div>

<div [ngClass]="myGroupClass">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate ipsum,
  tempora consequuntur perspiciatis nam quisquam tempore omnis deserunt hic
  corporis necessitatibus accusamus animi voluptate placeat, molestias et magni
  libero aperiam.
</div>
