
<!-- <div class="container">
  <h5>Username: {{userName}}</h5>
</div> -->
<!-- <div class="container">

  @if (users.isLoading()) {
    <p>Loading users...</p>
  }

  @else if (users.error()) {
    <p class="error">Failed to load users</p>
  }

  @else {
    @for (user of users.value(); track user.id) {
      <p>Username: <strong>{{ user.username }}</strong> </p>
    }
  }

</div> -->
<!--
<h2>User List</h2>
<div class="container">

@if(users.isLoading()){
<p >Loading users...</p>
}
@else if(users.error()){
<p >Failed to load users</p>
}
@else {
  @if(users.value()){
<table class="table table-responsive table-striped selected">
  <thead>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  @for( u of users.value(); track u.id){
<tr (click)="onSelect(u)">
    <td>{{ u.id }}</td>
    <td>{{ u.name }}</td>
    <td>{{ u.email }}</td>
  </tr>
  }
</tbody>
</table>

  }
}




</div> -->
<div class="container">
  <h5 style="text-align: center;">Signal Based Template Driven Forms</h5>
  <button mat-mini-fab matTooltip="Register" [routerLink]="['/tdfRegister']" color="primary">
    <mat-icon>add</mat-icon>
  </button>
  </div>
  <hr />

<div class="container">
  <h5 style="text-align: center;">Signal Based Reactive Forms</h5>
  <button mat-mini-fab matTooltip="Register" [routerLink]="['/reactiveRegister']" color="primary">
    <mat-icon>add</mat-icon>
  </button>
  </div>
