<h1>App(root) Component (v19)</h1>
<!-- <app-test></app-test> -->
<!-- <div class="app-test"></div> -->
<!-- <div id="app-test"></div> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-temp-ref-variables></app-temp-ref-variables> -->
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->
<!-- <app-if></app-if> -->
 <!-- <app-switch></app-switch> -->
<!-- <app-for></app-for> -->
 <!-- <app-sender></app-sender> -->
  <!-- <app-view-child></app-view-child> -->
<!-- <app-parent></app-parent> -->
<!-- <app-questionnaire></app-questionnaire> -->
 <app-modal>
      <app-modal-header>
        <h4>This is Modal Header</h4>
      </app-modal-header>
      <app-modal-body modal-body>
        <p>This is the modal body content</p>
      </app-modal-body>
      <app-modal-footer class="modal-footer">
        <button mat-button color="primary">Ok</button>
        <button mat-button color="warn">Cancel</button>
      </app-modal-footer>
</app-modal>
