<div style="display: flex; justify-content: center">
  <p style="font-size: 25px">&#64;if</p>
</div>
@if (isLoggedIn) {
<p>Welcome back, Satish!</p>
} @if (isLoggedIn) {
<p>You're logged in</p>
} @else {
<p>Please login first</p>
}

<!-- NOT Works  -->
<!-- @if (user as u) {
<p>Hello, {{ u.name }}</p>
} @else {
<p>No user data</p>
} -->
@if (user) {
<p>Hello, {{ user.name }}</p>
} @else {
<p>No user data</p>
}
<!-- Nested If -->
@if (user) {
<p>Hello {{ user.name }}</p>

@if (user.isAdmin) {
<p>You have admin access</p>
} @else {
<p>You are a normal user</p>
} } @else {
<p>No user info</p>
}
